.info {
  display: flex;
  flex-direction: column;
  
  &__title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
  }
  &__lists {
    margin-top: 10px;
    max-width: 140px;
  }

  &__list {
    padding-bottom: 18px;
  }

  &__list a {
    color: #fff;
    opacity: 0.7;
    font-size: 18px;
    line-height: 26px;
  }
}

@media screen and (max-width: 431px) {
  .info {
    &__lists {
      max-width: max-content;
    }
  }
}
