.cart {
  &__header {
    padding: 28px 0 40px;
    border-bottom: 1px solid #e5e5e5;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
  }

  &__order {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
  }

  &__copy {
    text-align: center;
  }
}
