.nav {
  &__lists {
    display: flex;
    width: 467px;
    justify-content: space-between;
  }

  &__list a {
    color: #000;
    font-size: 14px;
  }

  &__list a:hover {
    color: #f96900;
  }
}

@media screen and (max-width: 432px) {
  .nav {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    &__fixed {
      position: fixed;
      top: 40px;
      background: #fff;
      box-shadow: 0px 5px 25px 0px rgba(115, 121, 140, 0.1);
      padding: 13px 0;
    }
    &__lists {
      margin: 0 16px;
      gap: 8px;
    }
    &__list {
      height: 31px;
      border-radius: 100px;
      background: #f3f3f7;
      padding: 6px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &__list a {
      width: max-content;
    }
  }
}
