.products {
  padding-top: 40px;

  &__wrapper {
    margin-top: 40px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, auto);
  }
}

@media screen and (max-width: 431px) {
  .products {
    &__wrapper {
      gap: 0;
      display: flex;
      flex-wrap: wrap;
    }
  }
}
