.header {
  padding: 28px 0;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__topLeft {
    display: flex;
    gap: 15px;
  }

  &__tel a {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
  }
  &__tel p {
    color: #999;
    font-size: 15px;
    font-weight: 400;
    text-align-last: left;
  }

  &__navBar {
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__button {
      display: flex;
      align-items: center;
    }

    &_fixed {
      position: fixed;
      max-width: 1090px;
      width: 100%;
      margin-top: 0;

      top: 0;
      background: #fff;
      box-shadow: 0px 5px 25px 0px rgba(115, 121, 140, 0.1);
      padding: 13px 15px;
    }
  }
}

@media screen and (max-width: 431px) {
  .header {
    padding: 12px 0 21px;

    &__mLogo {
      width: 156px;
      height: 23px;
    }
  }
}
