.footer {
  background: #464c55;

  &__wrapper {
    padding: 50px 0 40px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__text {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
    padding-bottom: 12px;
  }

  &__copy {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    opacity: 0.7;
  }

  &__topLeft {
    display: flex;
    max-width: 677px;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__appStore a:nth-child(2) {
    margin-left: 5px;
  }

  &__contact {
    margin-top: 29px;
    text-align: right;
  }

  &__tel {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    line-height: 26px;
  }

  &__topRight {
    p {
      margin-top: 6px;
      padding-bottom: 25px;
      color: #fff;
      opacity: 0.5;
      text-align: right;
      font-size: 15px;
    }
    img {
      width: 135px;
      height: 40px;
    }
  }

  &__main {
    margin-top: 75px;
    max-width: 685px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 156px;
  }
}

@media screen and (max-width: 431px) {
  .footer {
    &__topLeft {
      max-width: 240px;
    }
    &__wrapper {
      padding: 50px 0 0;
      flex-direction: column-reverse;
    }

    &__appStore {
      display: flex;
      padding: 20px 0;
    }
    &__topRight {
      display: flex;
      flex-direction: column-reverse;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      width: 100%;
    }
    &__contact {
      text-align: left;
    }
    &__tel,
    &__contact p,
    &__main {
      display: none;
    }
    &__bottom {
      align-items: unset;
      padding-top: 0;
      border: none;
      flex-direction: column-reverse;
    }
    &__social {
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      padding-bottom: 30px;
    }

    &__legalInfo {
      margin-top: 20px;
      flex-direction: column;
    }
    &__logo {
      margin-top: 30px;
    }
  }
}
